.menuTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.menuTitle {
  margin-bottom: 0;
}

.description {
  font-size: 0.75em;
  color: #555;
  margin-left: 8px;
}

.categoryList {
  list-style: none;
  width: 100%;
}

.categoryButton {
  background-color: #c01e2e;
  color: #ffffff;
  width: 100%;
  padding: 10px 15px;
  font-size: 1.1em;
  font-weight: 500;
  border: 2px solid;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Added space between buttons */
}

.categoryButton:hover {
  background-color: #a01725;
}
