/* File: sushi-toshi-frontend/styles/Layout.module.css */
.headerText {
    font-size: 1.8em;
    color: #000000;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: relative;
}

.navbarLinksContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbarLinks {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
    margin-left: 10px;
}

.navbarLinksTitles {
    cursor: pointer;
    position: relative;
    color: #ffffff;
}

.navbarLinks a {
    color: #ffffff;
    text-decoration: none;
}

.navbarLinks a:hover {
    color: #000000;
    text-decoration: underline;
}

.navbarLogo {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.navbarLogo img {
    margin-right: 10px;
    width: 40px;
    height: auto;
}

/* Dropdown Menu Styles */

.menuDropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 10;
}

.dropdownMenuVisible {
    visibility: visible;
    opacity: 1;
}

.dropdownMenu a {
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}

.dropdownMenu a:hover {
    background-color: #f0f0f0;
}

.navbarRightContainer {
    position: absolute;
    right: 0;
}

.authButton {
    background-color: #C01E2E; 
    color: #ffffff;            
    border: none;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: 1px; 
  }
  
  .authButton:hover {
    background-color: #A01725;
  }

  .logoImage {
    object-fit: contain;
  }

.logoImage {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }