/* File: sushi-toshi-frontend/component/analytics/insight.modules.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.insightContainer {
  animation: fadeIn 2s ease-in-out;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
  white-space: pre-wrap; /* Preserve line breaks */
}

.insightText {
  padding: 10px 0;
}

.accordion {
  margin-top: 20px;
}

.accordionHeader {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.accordionContent {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.progressBar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 10px;
  background-color: #ff0000; /* Always red */
  transition: width 0.3s;
}

.styledButton {
  background-color: #C01E2E; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styledButton:hover {
  background-color: #0000cc; /* Darker shade of blue for hover effect */
}